<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>informacion</title>
    <link rel="icon" href="public/img/logofondogris.png">
</head>
<body>

    <!--HEADER-->
    <header>
        <div>
            <h1>CIMADIS</h1>
            <h3>Consultorios Interdisciplinarios Marplatenses de abordaje a la Disfluencia</h3>
        </div>
    </header>

<!--NAVBAR-->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
    </nav>


    <main>
        <article>
            <h2>Que es la Disfluencia ó comunmente llamada Tartamudez?</h2>
            <h5>Mauricio Ferreyra 26/07/23</h5>
            <img src="../img/disfluencia1.jpg" alt="disfluencia">
            <p>El abordaje de la disfluencia en la fonoaudiología puede variar según el tipo y la gravedad del trastorno del habla. En el caso específico de la tartamudez, el enfoque terapéutico se basa en técnicas y estrategias específicas para mejorar la fluidez del lenguaje y reducir los bloqueos y repeticiones involuntarias.
                Algunos de los enfoques más comunes utilizados por los fonoaudiólogos en el tratamiento de la tartamudez incluyen:
                Terapia de Modificación de la Tartamudez: Esta terapia se centra en la conciencia y el control del habla disfluyente. Se anima a los pacientes a identificar los momentos de disfluencia y utilizar técnicas de pausas suaves o deslizamientos suaves para reducir la tensión y mejorar la fluidez.
                Terapia de Desensibilización: En esta terapia, los pacientes trabajan para reducir la ansiedad y el miedo asociados con la tartamudez. Aprenden a enfrentar situaciones de habla desafiantes de manera más relajada y confiada.
                Terapia de Control del Habla: Los fonoaudiólogos pueden enseñar técnicas específicas para mejorar el control del habla, como el ritmo, la respiración y la articulación.
                Terapia Cognitivo-Conductual: Este enfoque se enfoca en cambiar los pensamientos negativos y las emociones asociadas con la tartamudez y fomentar una actitud más positiva hacia el habla.
                Entrenamiento de Habilidades Sociales: A veces, las personas que tartamudean pueden necesitar ayuda para mejorar sus habilidades sociales y comunicativas, lo que puede ayudarles a enfrentar mejor situaciones sociales y reducir el estrés relacionado con la comunicación.
                Es importante señalar que cada persona es única y puede responder de manera diferente a los enfoques terapéuticos. Por lo tanto, el abordaje específico debe adaptarse a las necesidades y características individuales de cada paciente. El fonoaudiólogo evaluará cuidadosamente el caso y diseñará un plan de tratamiento personalizado para mejorar la fluidez del habla y mejorar la calidad de vida del paciente.</p>
        </article>
    </main>

    <footer class="bg-light text-dark pt-5 pb-4">
        <div class="container text-center text-md-start">
          <div class="row text-center text-md-start">
            
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
              <hr class="mb-4">
              <p>Nos dedicamos desde hace ya 20 años al tratamiento de la Disfluencia.Conforman el equipo interdisciplinario un grupo de profesionales altamente capacitadas en distintas especialidades como Psicología,Fonoaudiología,Lenguaje y Psicopedagogía.</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Consultas</h5>
              <hr class="mb-4">
              <p>
                <a href="public/views/registro.html" class="text-dark">Registro</a>
              </p>
              <p>
                <a href="public/views/profesionales.html" class="text-dark">Staff</a>
              </p>
              <p>
                <a href="#" class="text-dark">Privacidad</a>
              </p>
              <p>
                <a href="#" class="text-dark">Ayuda</a>
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Capacitaciones</h5>
              <hr class="mb-4">
              <p>
                <a href="public/views/registro.html" class="text-dark">Registro</a>
              </p>
              <p>
                <a href="public/views/profesionales.html" class="text-dark">Consultas</a>
              </p>
              <p>
                <a href="#" class="text-dark">Privacidad</a>
              </p>
              <p>
                <a href="#" class="text-dark">Ayuda</a>
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Turnos</h5>
              <hr class="mb-4">
              <p>
                <a href="public/views/registro.html" class="text-dark">Profesionales</a>
              </p>
              <p>
                <a href="public/views/profesionales.html" class="text-dark">Horarios</a>
              </p>
              <p>
                <a href="#" class="text-dark">Comentarios</a>
              </p>
              <p>
                <a href="#" class="text-dark">Quienes somos</a>
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
              <hr class="mb-4">
              <p>
                <li class="fas fa-home me-3"></li>Colon 3545
              </p>
              <p>
                <li class="fas fa-envelope me-3"></li>cismdq@gmail.com
              </p>
              <p>
                <li class="fas fa-phone me-3"></li> +54 9 35876590
              </p>
              <p>
                <li class="fas fa-print me-3"></li>+54 9 35876588
              </p>
            </div>
            <hr class="mb-4">
            <div class="text-center mb-2">
              <p>
                Copyright Todos los Derechos reservados
                <a href="mailto:maumdp08@gmail.com">
                  <strong class="text-primary">TecnoWebmdq</strong>
                </a>
              </p>
            </div>
            <div class="text-center">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/Cimadis" class="text-dark"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="text-dark"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/cimadis/" class="text-dark"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.youtube.com/@consultoriosinterdisciplin5930" class="text-dark"><i class="fab fa-youtube"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>




</body>
</html>