<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>burla</title>
    <link rel="icon" href="public/img/logofondogris.png">
</head>
<body>

    <!--HEADER-->
    <header>
        <div>
            <h1>CIMADIS</h1>
            <h3>Consultorios Interdisciplinarios Marplatenses de abordaje a la Disfluencia</h3>
        </div>
    </header>

<!--NAVBAR-->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
    </nav>

    <main>
        <article>
            <h2>Los posibles porque de las burlas</h2>
            <h5>Mauricio Ferreyra 26/07/23</h5>
            <img src="../img/diadelatomadeconciencia.jpg" alt="disfluencia">
            <p>La tartamudez es un trastorno del habla que afecta a millones de personas en todo el mundo. Aquellos que padecen esta condición enfrentan desafíos únicos en su vida diaria, especialmente en sus interacciones sociales. Lamentablemente, la tartamudez a menudo se asocia con burlas y discriminación, lo que puede tener un profundo impacto en la autoestima y la confianza de quienes la sufren. En este artículo, exploraremos la triste realidad de las burlas que enfrentan las personas que tienen tartamudez y abogaremos por la sensibilización y el respeto hacia aquellos que viven con esta condición.</p>
            <h4>La Tartamudez mas que un problema de habla</h4>
            <p>La tartamudez va más allá de las repeticiones o bloqueos del habla; es un trastorno complejo que involucra aspectos emocionales y psicológicos. A menudo, las personas que tartamudean experimentan ansiedad, vergüenza y frustración debido a las dificultades que enfrentan al comunicarse. La falta de comprensión de esta condición puede llevar a que algunas personas se burlen de quienes la padecen, lo que agrava aún más la situación y dificulta el proceso de comunicación.</p>
            <h4>El Impacto de las Burlas en las Personas que Tartamudean</h4>
            <p>Las burlas dirigidas a las personas que tartamudean pueden tener un profundo efecto negativo en su bienestar emocional y social. La autoestima y la confianza se ven afectadas, lo que puede llevar a la evitación de situaciones sociales y la reclusión. Muchas personas que tartamudean evitan hablar en público o participar activamente en conversaciones, lo que puede limitar sus oportunidades académicas, profesionales y sociales.
                Además, las burlas pueden generar sentimientos de aislamiento y soledad. El temor al ridículo puede convertirse en una barrera para el establecimiento de relaciones significativas y el desarrollo de conexiones con los demás. Las personas que tartamudean a menudo se sienten incomprendidas y juzgadas, lo que puede llevar a la depresión y la ansiedad.</p>
            <h4>Promoviendo la Sensibilización y el Respeto</h4>
            <p>La clave para abordar las burlas hacia las personas que tartamudean es la sensibilización y la educación. Es importante difundir información precisa sobre la tartamudez y desmitificar los conceptos erróneos que existen en torno a esta condición. Algunos puntos esenciales a tener en cuenta son: 
                La tartamudez no es una debilidad ni una falta de inteligencia. Es un trastorno del habla que no define la valía de una persona.
                La tartamudez no es algo que se pueda controlar simplemente con la voluntad. No es un problema de "nervios" o falta de práctica.
                La empatía y la paciencia son fundamentales al interactuar con alguien que tartamudea. No interrumpir ni finalizar las frases de la persona puede ayudar a mejorar la comunicación.
                Las burlas y la discriminación hacia las personas que tartamudean son inaceptables y no contribuyen a un ambiente respetuoso y compasivo.</p>
            <h4>Conclusión</h4>
            <p>Es imperativo que como sociedad trabajemos para eliminar las burlas y la discriminación hacia las personas que tienen tartamudez. La educación y la sensibilización son herramientas poderosas para romper las barreras de comunicación y fomentar un entorno más inclusivo y respetuoso. Apoyar y valorar a las personas que tartamudean no solo les brinda la oportunidad de desarrollar su máximo potencial, sino que también nos enriquece como comunidad al celebrar la diversidad de nuestras habilidades y experiencias individuales. Juntos, podemos construir un mundo en el que todos podamos expresarnos libremente y sin miedo</p>
        </article>
    </main>

    <footer class="bg-light text-dark pt-5 pb-4">
        <div class="container text-center text-md-start">
          <div class="row text-center text-md-start">
            
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
              <hr class="mb-4">
              <p>Nos dedicamos desde hace ya 20 años al tratamiento de la Disfluencia.Conforman el equipo interdisciplinario un grupo de profesionales altamente capacitadas en distintas especialidades como Psicología,Fonoaudiología,Lenguaje y Psicopedagogía.</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Consultas</h5>
              <hr class="mb-4">
              <p>
                <a href="public/views/registro.html" class="text-dark">Registro</a>
              </p>
              <p>
                <a href="public/views/profesionales.html" class="text-dark">Staff</a>
              </p>
              <p>
                <a href="#" class="text-dark">Privacidad</a>
              </p>
              <p>
                <a href="#" class="text-dark">Ayuda</a>
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Capacitaciones</h5>
              <hr class="mb-4">
              <p>
                <a href="public/views/registro.html" class="text-dark">Registro</a>
              </p>
              <p>
                <a href="public/views/profesionales.html" class="text-dark">Consultas</a>
              </p>
              <p>
                <a href="#" class="text-dark">Privacidad</a>
              </p>
              <p>
                <a href="#" class="text-dark">Ayuda</a>
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Turnos</h5>
              <hr class="mb-4">
              <p>
                <a href="public/views/registro.html" class="text-dark">Profesionales</a>
              </p>
              <p>
                <a href="public/views/profesionales.html" class="text-dark">Horarios</a>
              </p>
              <p>
                <a href="#" class="text-dark">Comentarios</a>
              </p>
              <p>
                <a href="#" class="text-dark">Quienes somos</a>
              </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
              <hr class="mb-4">
              <p>
                <li class="fas fa-home me-3"></li>Colon 3545
              </p>
              <p>
                <li class="fas fa-envelope me-3"></li>cismdq@gmail.com
              </p>
              <p>
                <li class="fas fa-phone me-3"></li> +54 9 35876590
              </p>
              <p>
                <li class="fas fa-print me-3"></li>+54 9 35876588
              </p>
            </div>
            <hr class="mb-4">
            <div class="text-center mb-2">
              <p>
                Copyright Todos los Derechos reservados
                <a href="mailto:maumdp08@gmail.com">
                  <strong class="text-primary">TecnoWebmdq</strong>
                </a>
              </p>
            </div>
            <div class="text-center">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/Cimadis" class="text-dark"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="text-dark"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.instagram.com/cimadis/" class="text-dark"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.youtube.com/@consultoriosinterdisciplin5930" class="text-dark"><i class="fab fa-youtube"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>